
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f4f8;
    flex-direction: column;
}


h1 {
    color: #0d3b66;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    width: 600px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #80bde3;
    color: white;
    border-radius: 10px;
    overflow: hidden;
}


th {
    background-color: #3d99c4;
    padding: 15px;
    font-size: 18px;
}

td {
    padding: 12px;
    border-bottom: 1px solid #1e81b0;
    font-size: 16px;
}

tr:last-child td {
    border-bottom: none;
}
